<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mansão Assombrada</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/styles.css">
</head>

<body>
    <div class="mansao">
        <header class="entrada">👻 Entrada Principal 👻</header>
        <aside class="corredor">🕸️ Corredor Assombrado 🕸️</aside>
        <main class="sala">🔮 Sala Principal 🔮</main>
        <section class="laboratorio">🧪 Laboratório Secreto 🧪</section>
        <footer class="porao">☠️ Porão Sinistro ☠️</footer>
    </div>
</body>

</html>